<div class="show_wrapper">
	<h1>About Third Goal Travel</h1>

	<div id="pc-mission" class="right">
		<img src="/images/pc_logo.png">
		<br>
		<h3>The <span class="red">Peace Corps'</span> Mission</h3>
			<h4>To promote world peace and friendship by fulfilling three goals:</h4>
			<h4>1<br>To help the people of interested countries in meeting their need for trained men and women</h4>
			<h4>2<br>To help promote a better understanding of Americans on the part of the peoples served</h4>
			<h4 class="red"><b>3<br>To help promote a better understanding of other peoples on the part of Americans</b></h4>
	</div>






</div>