<div class="show_wrapper">
	<h1>About Third Goal Travel</h1>

	<div id="pc_about" class="left">
		<h4><b>Third Goal Travel is a place to connect with Peace Corps Volunteers (PCVs).</b> Whether you are a volunteer, a traveler, or someone who is interested in learning more about life in the Peace Corps - you can use Third Goal Travel to get travel recommendations from PCVs, read volunteer journals, see on-going projects, and meet up with volunteers when you visit their country.</h4>

		<h4>Based on the third goal of Peace Corps, we strive to increase knowledge of the countries where volunteers live and work. All Peace Corps Volunteers are given extensive language and cultural training, and work hard to live as respected, assimilated members of their host communities. Third Goal Travel hopes to increase cross-cultural respect and understanding by allowing volunteers to share their valuable knowledge.</h4>

		<h4>This site is fairly new and we would love to hear your feedback. Please contact liana.schapiro@gmail.com with questions and suggestions.</h4>

		<h4>Third Goal Travel is NOT affiliated with the US Peace Corps. We encourage you to check out <a href="http://www.peacecorps.gov/">their website</a> for all official information, and to learn more about becoming a volunteer.</h4>
	</div>

	<div id="pc_mission" class="right">
		<img src="/images/pc_logo.png">
			<br>
				<h3>The <span class="red">Peace Corps'</span> Mission</h3>
					<h4>To promote world peace and friendship by fulfilling three goals:</h4>
					<h4>1<br>To help the people of interested countries in meeting their need for trained men and women</h4>
					<h4>2<br>To help promote a better understanding of Americans on the part of the peoples served</h4>
					<h4 class="red"><b>3<br>To help promote a better understanding of other peoples on the part of Americans</b></h4>
	</div>
</div>