<div id="giraffe_background">
	<h1 id="headline" class="lower">THIRD GOAL TRAVEL</h1>
		<h1>See the world like never before...</h1>
			<a href="/regions"><button id="go_button">GO</button></a>
</div>

