<div id="giraffe_background">
	<div class="main">
		<h1 id="headline">THIRD GOAL TRAVEL</h1>
			<h1>See the world like never before...</h1>
				<a href="/regions"><button id="go_button">GO</button></a>
	</div>
</div>

