$default-green: #588C7E;
$default-light-yellow: #F2E394;
$default-orange: #F2AE72;
$default-light-red: #D96459;
$default-red: #8C4646;
$default-gray: #F1F1F1;

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #F1F1F1;
	font-size: 0;
	text-align: center;
}

#flash {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 1000;
    background-color: $default-orange;
    color: $default-red;
    text-align: center;
    line-height: 20px;
    h3 {
    	margin-top: 15px;
    }
}

.main {
	margin: 18vh auto;
	max-width: 800px;
	border-radius: 10px;
	color: $default-red;
}

.wrapper {
	margin-top: 50px;
	position: absolute;
	top:0;
	width: 100%;
}

.show_wrapper {
	top: 0;
	padding-top: 50px;
	min-height: 100vh;
	background-color: $default-light-red;
	h1 {
		padding: 20px 20px 10px;
	}
	input[type=submit] {
		margin-top: 10px;
		padding: 5px;
	}
}

nav {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: $default-light-yellow;
	opacity: 0.9;
	z-index: 10;
	ul {
		h1 {
			margin-top: 7px;
		}
		img {
			margin: 6px;
			height: 35px;
		}
		li, .dropbtn  {
			display: inline-block;
		}
		a {
			font-size: 16px;
			color: black;
			font-weight: bold;
			padding: 15px 15px 16px;
		}
		a:hover, .dropdown:hover .dropbtn {
		    color: $default-red;
		}
		#country_name a {
			font-size: 30px;
		}
	}
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: $default-light-yellow;
    min-width: 160px;
    margin-left: -50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#account-menu {
	text-align: right;
	margin-left: -20px;
}


.dropdown-content a {
    color: #000;
    padding: 8px 16px;
    margin: 8px;
    display: block;
}

.dropdown-content a:hover {
	color: $default-red;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#headline {
	margin: 20px 0px 25px;
	font-size: 70px;
	font-family: 'Architects Daughter', cursive;

}

#go_button {
	margin: 25px;
	padding: 10px;
	width: 120px;
	font-size: 18px;
	background-color: rgba(242,227,148, .8);
	cursor: default;
	a {
		font-weight: bold;
	}
}

#menu_select {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: #F1F1F1;
}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	text-align:center;
	margin-left: 17%;
}

.clear {
	clear: both;
}

.inline {
	display: inline-block;
}

.red {
	color: $default-red;
}

#region_index_wrap {
	color: #000000;
	margin: 0 auto;
	padding: 20px 0px;
	border-radius: 10px;
	h1{
		font-size: 35px;
	}
}

a {
	text-decoration: none;
}

h3 {
	display: inline-block;
	font-size: 20px;
	margin: 10px 0px;
}

h2 {
	font-size: 25px;
	margin: 10px;
}

#angkor_background {
	height: 100vh;
	width: 100vw;
	background-image: image-url('angkor.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
}

#hills_background {
	@extend #angkor_background;	
	background-image: image-url('uganda_countryside.jpg');
}

h1 {
	text-align: center;
	font-size: 30px;
}

h4 {
	font-size: 16px;
	padding: 5px;
	font-weight: normal;
}

p {
	font-size: 14px;
	padding: 5px;
}

hr {
	width: 50%;
	margin: 0 auto;
}

#pc_about {
	width: 50%;
	padding: 1%;
	margin: 1% 5%;
	border-radius: 50px;
	h4 {
		margin: 2%;
	}
}

#pc_mission {
	background-color: $default-light-yellow;
	margin: 0 4% 5% 0%;
	border-radius: 50px;
	padding: 2%;
	width: 25%;
}

label, input, textarea, select {
	font-size: 14px;
	width: 200px;
	padding: 3px;
	margin: 3px 3px 3px 0;
	border-radius: 5px;
}

input[type=submit] {
	width: auto;
	padding: 3px;
	background-color: $default-light-yellow;
	border-radius: 5px;
}

#user_volunteer {
	width: 15px;
	height: 15px;
	display: inline-block;
}

label[for=user_volunteer] {
	width: auto;
	font-size: 16px;
}



button {
	padding: 3px;
	background-color: white;
	border-radius: 5px;
}

textarea {
	font-size: 14px;
	width: 200px;
	height: 100px;
}

.individual_countries {
	position: relative;
	width: 18%;
	min-width: 200px;
	margin: 0.5%;
	display: inline-block;
	img {
		width: 100%;
	}
	#individual_country_name {
	  	position: absolute;
	  	padding-top: 85px;
	  	top: 0;
	  	bottom: 0;
	  	left: 0;
	  	right: 0;
	  	color: black;
	 	background: rgba(255,255,255,.6);
	 	visibility: hidden;
	  	opacity: 0;
	}
}

.individual_countries:hover #individual_country_name {
  		visibility: visible;
  		opacity: 1;
  		transition: 0.2s ease-in;
}

#map {
	width: 61%;
	height: 77vh;
	display: inline-block;
	padding-bottom: 3%;
	text-align: center;
}

#info_title {
	color: $default-light-red;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

#info_body {
	font-size: 14px;
}


#review_wrapper {
	display: inline-block;
	vertical-align: top;
	width: 36%;
	padding: 1.5%;
	height: 77vh;
	background-color: $default-light-red;
	text-align: center;
	#add {
		float: right;
		width: 20%;
		height: 40px;
		background-color: white;
		border-radius: 10px;
	}
}

.tab {
	width: 15%;
	height: 20px;
	border: none;
	padding: 10px;
	font-size: 16px;
	background-color: $default-light-red;
	cursor: default;
	border-radius: 5px 5px 0 0;
}

.tab.one {
	border-top: solid 2px #f1f1f1;
	border-left: solid 2px #f1f1f1;
	border-right: solid 2px #f1f1f1;
}
.tab.two, .tab.three, .tab.four {
	border-bottom: solid 2px #f1f1f1;
}


#restaurant_reviews {
	height: 500px;
	padding-top: 10px;
	text-align: left;
}

#hotel_reviews, #other_reviews {
	display: none;
	padding-top: 10px;
	text-align: left;
}

.individual_reviews {
	background-color: white;
	margin: 15px auto;
	border-radius: 10px;
	h4 {
		color: $default-light-red;
	}
	a {
		color: $default-light-red;
	}
}

#outer_review_modal {
	position: relative;
	display: none;
	width: 70%;
	height: 90%;
	background-color: $default-light-red;
	margin: 20px auto;
	overflow: auto;
    #inner_review_modal {
    	margin: 45px auto;
    }
    #close_review_modal {
    	display: inline-block;
    	a{
    		color: black;
    	}
    }
}

#volunteer_journals {
	vertical-align: top;
	background-color: $default-light-red;
	width: 37%;
	height: 550px;
	padding: 1.5%;
	display: inline-block;
	text-align: center;
	#all_journals {
		height: 500px;
		overflow: scroll;
		#individual_journals {
			margin: 15px 0px;
			padding: 5px;
			background-color: white;
			border-radius: 10px;
			a{
				color: $default-light-red;
				font-weight: bold;
			}
		}
	}
	#journal_add_button {
		margin-top: 10px;
		background-color: white;
		font-size: 12px;
		height: 30px;
		width: 60px;
	}
}

#message_board {
	width: 57%;
	background-color: $default-light-yellow;
	display: inline-block;
	height: 550px;
	overflow: auto;
	padding: 1.5%;
	text-align: left;
	#post {
		font-size: 12px;
		float: right;
		width: 60px;
		height: 30px;
		background-color: white;
		border-radius: 10px;
	}
	#all_boardposts {
		height: 500px;
		overflow: scroll;
		#individual_boardposts {
			margin: 15px 0px;
			padding: 5px;
			border-radius: 10px;
			background-color: white;
			a {
				color: $default-red;
			}
		}		
	}
}



#outer_boardpost_modal {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999997;
    display: none;
    #inner_boardpost_modal {
    	width: 40%;
    	height: 40%;
    	background-color:$default-light-yellow;
    	box-shadow: 0 0 15px #9e9e9e;
    	border: #cecece solid 1px;
    	margin: 10% auto;
    	padding: 20px;
    	overflow: auto;
        z-index: 100;
        #close_boardpost_modal {
        }
        #submit_new_boardpost {
        	background-color: white;
        	font-size: 12px;
			width: 60px;
			height: 30px;
        }
    }
}

#individual_reviews_on_user_profile, #individual_journals_on_user_profile {
	background-color: white;
	margin: 15px;
	border-radius: 10px;
	width: 350px;
	text-align: left;
	display: inline-block;
	a{
		color: $default-light-red;
		font-weight: bold;
	}
	.delete{
		display: inline-block;
		padding: 5px;
		font-size: 14px;
	}
}

#delete_account {
	margin-top: 50px;
}

.icon {
	padding-top: 20px;
	height: 50px;
}
.individual_comments {
	padding: 3px;
	margin: 0px auto 10px;
	background-color: #F1F1F1;
	width: 300px;
	border-radius: 10px;
	text-align: left;
	.time_posted {
		font-size: 12px;
	}
	a {
		color: $default-light-red;
		font-size: 14px;
		display: inline-block;
		font-weight: bold;
	}
	#delete_comment {
		padding: 5px;
	}
}


