$default-green: #588C7E;
$default-light-yellow: #F2E394;
$default-orange: #F2AE72;
$default-light-red: #D96459;
$default-red: #8C4646;

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #F1F1F1;
}

#flash {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index: 100;
    background-color: $default-orange;
    color: $default-red;
    text-align: center;
    line-height: 20px;
    h3 {
    	margin-top: 15px;
    }
}

#wrapper {
	margin-top: 50px;
	font-size: 0;
}

.show_wrapper {
	min-height: 100vh;
	background-color: $default-orange;
}

nav {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: $default-light-yellow;
	z-index: 10;
	ul {
		img {
			margin: 6px;
			height: 35px;
		}
		li {
			display: inline-block;
			margin: 15px;
		}
		a {
			color: black;
		}
	}
}

#title {
	margin-left: 5px;
	font-size: 20px;
	font-style: italic;	
	}

.left {
	float: left;
}

.right {
	float: right;
}

.middle {
	text-align:center;
	margin-left: 17%;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

h3 {
	display: inline-block;
	font-size: 20px;
	margin: 10px 0px;
}

h2 {
	font-size: 25px;
	margin: 10px;
}

#china_background {
	height: 94vh;
	background-image: url('greatwallofchina.jpg');
	background-position: cover;
	background-repeat: no-repeat;
}

#map-canvas {
    height: 85vh;
    width: 100vw;
    text-align: center;
}


h1 {
	padding: 1% 0%;
	text-align: center;
	font-size: 30px;
}

h4 {
	font-size: 16px;
	padding: 5px;
}

p{
	font-size: 14px;
	padding: 5px;
}

label, input, textarea, select {
	font-size: 14px;
	width: 200px;
	padding: 3px;
	margin: 3px 3px 3px 0;
	border-radius: 5px;
}

input[type=submit] {
	width: auto;
	padding: 3px;
	background-color: $default-light-yellow;
	border-radius: 5px;
}

button {
	padding: 3px;
	background-color: white;
	border-radius: 5px;
}

textarea {
	font-size: 14px;
	width: 200px;
	height: 100px;
}

.individual_countries {
	position: relative;
	width: 18%;
	min-width: 200px;
	margin: 0.5%;
	display: inline-block;
	img {
		width: 100%;
	}
	#individual_country_name {
	  	position: absolute;
	  	padding-top: 85px;
	  	top: 0;
	  	bottom: 0;
	  	left: 0;
	  	right: 0;
	  	color: black;
	 	background: rgba(255,255,255,.6);
	 	visibility: hidden;
	  	opacity: 0;
	}
}

.individual_countries:hover #individual_country_name {
  		visibility: visible;
  		opacity: 1;
  		transition: 0.2s ease-in;
}

#map {
	width: 61%;
	height: 550px;
	display: inline-block;
	padding-bottom: 3%;
	text-align: center;
}

#info_title {
	color: $default-light-red;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
}

#info_body {
	font-size: 14px;
}


#review_wrapper {
	display: inline-block;
	vertical-align: top;
	width: 36%;
	padding: 1.5%;
	height: 550px;
	background-color: $default-light-red;
	text-align: center;
	#add {
		float: right;
		width: 20%;
		height: 40px;
		background-color: white;
		border-radius: 10px;
	}
}

.tab {
	width: 15%;
	height: 20px;
	border: none;
	padding: 10px;
	font-size: 16px;
	background-color: $default-light-red;
	cursor: default;
	border-radius: 5px 5px 0 0;
}

.tab.one {
	border-top: solid 2px #f1f1f1;
	border-left: solid 2px #f1f1f1;
	border-right: solid 2px #f1f1f1;
}
.tab.two, .tab.three, .tab.four {
	border-bottom: solid 2px #f1f1f1;
}


#restaurant_reviews {
	height: 500px;
	padding-top: 10px;
	text-align: left;
}

#hotel_reviews, #other_reviews {
	display: none;
	padding-top: 10px;
	text-align: left;
}

.individual_reviews {
	background-color: white;
	margin: 15px auto;
	border-radius: 10px;
	h4 {
		color: $default-light-red;
	}
	a {
		color: $default-light-red;
	}
}

#outer_review_modal {
	position: relative;
	display: none;
	width: 70%;
	height: 90%;
	background-color: $default-light-red;
	margin: 20px auto;
	overflow: auto;
    #inner_review_modal {
    	margin: 45px auto;
    }
    #close_post_modal {
    	display: inline-block;
    	a{
    		color: black;
    	}
    }
}

#message_board {
	width: 57%;
	background-color: $default-light-yellow;
	display: inline-block;
	height: 550px;
	overflow: auto;
	padding: 1.5%;
	#post {
		font-size: 12px;
		float: right;
		width: 60px;
		height: 30px;
		background-color: white;
		border-radius: 10px;
	}
	#boardposts {
		// padding: 10px;
		#individual_boardposts {
			margin: 15px 0px;
			padding: 5px;
			border-radius: 10px;
			background-color: white;
			a {
				color: $default-red;
			}
		}		
	}
}

#volunteer_journals {
	vertical-align: top;
	background-color: $default-light-red;
	width: 37%;
	height: 550px;
	padding: 1.5%;
	display: inline-block;
	text-align: center;
	#individual_journals {
		margin: 15px 0px;
		padding: 5px;
		background-color: white;
		border-radius: 10px;
		a{
			color: $default-light-red;
			font-weight: bold;
		}
	}
	#journal_add_button {
		margin-top: 10px;
		background-color: white;
		font-size: 12px;
		height: 30px;
		width: 60px;
	}
}

#outer_boardpost_modal {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999997;
    display: none;
    #inner_boardpost_modal {
    	width: 40%;
    	height: 40%;
    	background-color:$default-light-yellow;
    	box-shadow: 0 0 15px #9e9e9e;
    	border: #cecece solid 1px;
    	margin: 10% auto;
    	padding: 20px;
    	overflow: auto;
        z-index: 100;
        #close_boardpost_modal {
        }
        #submit_new_boardpost {
        	background-color: white;
        	font-size: 12px;
			width: 60px;
			height: 30px;
        }
    }
}

#country_pic {
	display: inline-block;
	background-color: $default-light-yellow;
	margin: 20% 1% 2%;
	img {
		width: 100%;
	}
}

#individual_reviews_on_user_profile {
	@extend .individual_reviews;
	max-width: 350px;
	text-align: left;
}



