<div id="china_background">
	<h1>Where are you going?</h1>
	<div id="region_pick">
		<p>pick by region </p>
			<%= select_tag(:menu_select, options_for_select([['Africa', '/regions/africa'], ['Asia', '/regions/asia'], ['Caribbean', '/regions/caribbean'], ['Central America and Mexico', '/regions/central_america_mexico'], ['Eastern Europe and Central Asia', '/regions/eastern_europe_central_asia'], ['North Africa and the Middle East', '/regions/north_africa_middle_east'], ['Pacific Islands', '/regions/pacific_islands'], ['South America', '/regions/south_america']])) %>
	</div>
</div>
	<!-- <div id="map-canvas"></div> -->

	    <script type="text/javascript">
	      var colors = ['#FF0000', '#00FF00', '#0000FF', '#FFFF00'];
	      var map;

	      function init() {
	        var myOptions = {
	          zoom: 2,
	           scrollwheel: false,
	          center: new google.maps.LatLng(10, 0),
	          mapTypeId: google.maps.MapTypeId.ROADMAP
	        };

	        map = new google.maps.Map(document.getElementById('map-canvas'),
	            myOptions);

	        // Initialize JSONP request
	        var script = document.createElement('script');
	        var url = ['https://www.googleapis.com/fusiontables/v1/query?'];
	        url.push('sql=');
	        var query = 'SELECT name, kml_4326 FROM ' +
	            '1foc3xO9DyfSIF6ofvN0kp2bxSfSeKog5FbdWdQ';
	        var encodedQuery = encodeURIComponent(query);
	        url.push(encodedQuery);
	        url.push('&callback=drawMap');
	        url.push('&key=AIzaSyAm9yWCV7JPCTHCJut8whOjARd7pwROFDQ');
	        script.src = url.join('');
	        var body = document.getElementsByTagName('body')[0];
	        body.appendChild(script);
	      }

	      function drawMap(data) {
	        var rows = data['rows'];
	        for (var i in rows) {
	          if (rows[i][0] != 'Antarctica') {
	            var newCoordinates = [];
	            var geometries = rows[i][1]['geometries'];
	            if (geometries) {
	              for (var j in geometries) {
	                newCoordinates.push(constructNewCoordinates(geometries[j]));
	              }
	            } else {
	              newCoordinates = constructNewCoordinates(rows[i][1]['geometry']);
	            }
	            var randomnumber = Math.floor(Math.random() * 4);
	            var country = new google.maps.Polygon({
	              paths: newCoordinates,
	              strokeColor: colors[randomnumber],
	              strokeOpacity: 0,
	              strokeWeight: 1,
	              fillColor: colors[randomnumber],
	              fillOpacity: 0.2
	            });
	            google.maps.event.addListener(country, 'mouseover', function() {
	              this.setOptions({fillOpacity: .4});
	              console.log(country);
	            });
	            google.maps.event.addListener(country, 'mouseout', function() {
	              this.setOptions({fillOpacity: 0.2});
	            });

	            google.maps.event.addListener(country, "click", function()
	           		 {
	           		// window.location = "/countries" ;

	           	});

	            country.setMap(map);
	          }
	        }
	      }

	      function constructNewCoordinates(polygon) {
	        var newCoordinates = [];
	        var coordinates = polygon['coordinates'][0];
	        for (var i in coordinates) {
	          newCoordinates.push(
	              new google.maps.LatLng(coordinates[i][1], coordinates[i][0]));
	        }
	        return newCoordinates;
	      }

	      init();
	    </script>